h1 {
    color: blueviolet;
}

h2  {
    color: darkgoldenrod;
}

h3 {
    color: dodgerblue;
}



Body{
 background-image: url("images/REAL OLD.jpg");
 height: 1%;
 background-size:cover;
 background-repeat: no-repeat;
}