p {
    color: white;
}

h1 {
    color: white;
}

body {
    background-color: beige;
    background-image: url(https://i.pinimg.com/originals/4e/de/5a/4ede5a33c5490195b2b17466ad26d124.gif);
    background-size: cover;
    width: 405px;
    height: auto;
}


    
